h1 {
color: rgb(69, 147, 236);
background-color: rgb(0, 0, 0); margin-right: 83%; border-radius: 10px; margin-bottom: 2%;
}
a:link {
    color: brown;
}
a:visited {
    color: rgb(0, 0, 0);
}
a:hover {
    color: aliceblue;
}
a:active {
    color: blue;
}
img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
p {
    margin-left: 3%;
}