h1 {
color: rgb(69, 147, 236);
background-color: rgb(0, 0, 0); margin-right: 83%; padding-bottom: 1%;
}
a:link {
    color: brown;
}
a:visited {
    color: rgb(0, 0, 0);
}
a:hover {
    color: blue;
}
a:active {
    color: aliceblue;
}