h1 {
    color: rgb(69, 147, 236);
    background-color: rgb(0, 0, 0);
    margin-right: 83%;
    border-radius: 10px;
    margin-bottom: 2%;
}
h3 {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 800;
}
a:link {
    color: brown;
}
a:visited {
    color: rgb(0, 0, 0);
}
a:hover {
    color: aliceblue;
}
a:active {
    color: blue;
}
img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 500px;
    height: 300px;
}
p {
    margin-left: 3%;
}
body{
    background-image: url(/img/fondo.jpg);
    background-size: cover;
    background-position: center top;
}
.rotar{
    transform: rotate(270deg);
    width: 300px;
    height: 500px;
    margin-left: 100px;
}
.perfil{
    width: 250px;
    height: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
li {
    font-size: 20px;
}
.titulo2 {
    font-size: 40px;
}
.instrucciones{
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: rgb(70, 38, 2);
    margin-right: 75%;
    border-radius: 10px;
}
.volver{
    background-color: rgb(59, 150, 192);
    border-radius: 10px;
    display: block;
    margin-right: 72.9%;
    font-weight: 800;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 30px;
}